.maindisplay {
  display: flex;
  flex-direction: column;
}

/* Top section */
.maindisplay .top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  rgb(211, 215, 215);
  
}

.top p {
  width: 15%;
  padding: 1vw;
  font-size: 1.2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease;
  color:#00952d;
  background-color: rgb(211, 215, 215);
}

.top .subname {
  width: 85%;
  padding: 1vw;
  font-size: 1.3vw;
  font-weight: bold;
  background-color: #dae9df;
  color: #00952d;
}

/* Arrow rotation */
.bx {
  font-size: 1.5rem;
  transition: transform 0.3s ease;
}

.bx.rotate {
  transform: rotate(180deg);
}

/* Subdisplay section */
.subdisplay {
  display: flex;
  width: 100%;
  height: calc(100vh - 105px);
}

/* Subbar (Left Sidebar) */
.subdisplay .subbar {
  width: 15%;
  background-color: #dae9df;
  transition: width 0.3s ease, opacity 0.3s ease;
}

.subbar ul {
  list-style: none;
  padding: 5px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5vw;
}

.subbar li {
  margin-bottom: 5px;
  padding: 5px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  font-size:15px;
  transition: 0.3s;
}

.subbar li:hover {
  background-color: #f0f0f0;
  color: rgba(72, 0, 255, 0.886);
}

.subbar li:active{
  background-color: #f0f0f0;
  color: rgb(30, 30, 136);
}
/* Hide Subbar */
.subbar.hide {
  display: none;
}

/* Sidesec (Main Content) */
.subdisplay .sidesec {
  position: relative;
  width: 85%;
  background-color: rgb(232, 241, 238);
  transition: none;
  border-radius: .2vw;
}

.sidesec.expand {
  width: 100%;
}

.sidesec .content {
  padding: 20px;
  font-size: 1.2vw;
  line-height: 1.5;
}





/*=====================we have to do like, the title like "I.T. 1ST SEMESTER" will display same which is 
clicked by the user during selecting the course and semester and similarly when the user will select 
the subject then that subject name will display same on the top heading of the content page 
we can do this using the angular and veu js===============*/