@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oxanium:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --green: #00E77F;
  --white: #fff;
  --light-white: #aaa;
  --black: #3d3d3d;
  --light-bg: #4b4b4b;
  --clr: #222327;
  --bg-lavender: #E6E6FA;
  --active-color: #29fd53;
  --shade3: #ACE1AF;
  --lavender-grey: #B6B5D8;
  --shade4: #17B169;
  --primary-300: #ffceff;
  --text-100: #FFFFFF;
  --otherbgcl: rgba(178, 233, 205, 0.315);
  --border: #00000029;
  --dark-black: black;

}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: .2s linear;
  text-transform: capitalize;
}



/*--===========================that homepage main searchbar section starts===============================-->*/
/*home section styling starts*/
.main {
  width: 100%;
  margin-top: 55px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.home {
  height: calc(100% - 7vw);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* This keeps content centered vertically inside the section */
}


.home .left {
  width: 50%;
  height: 100%;
  position: relative;
}

.homebgimage {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 7.5vw;
}

.homebgimage a {
  position: absolute;
  border: 2px solid var(--active-color);
  color: rgba(0, 0, 0, 0.77);
  background-color: var(--shade3);
  border-radius: 9px 9px;
  -webkit-box-shadow: 2px 2px 14px -3px #070707;
  -moz-box-shadow: 2px 2px 14px -3px #111111;
  box-shadow: 1px 1px 9px -3px #151515;
  text-align: center;
  font-size: .95vw;
  padding: 1.3vw;
  padding-left: .75vw;
  font-family: cursive;
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--lavender-grey);
  z-index: 1;
  width: 5.5vw;
  transform: translate(2.49vw, 10.75vw);
}

.homebgimage a:hover {
  background-color: var(--shade3);
  border: 1px dashed black;
  box-shadow: 0px 2px 3px black;
}

.homebgimage a:active {
  background-color: #17B169;
}

.homebgimage img {
  width: 100%;
  transition: transform 0.2s ease-out;
  filter: drop-shadow(3px 3px 1.5px black);
}

/*home right side section starts*/
.home .right {
  width: 50%;
  height: 100%;
  position: relative;
  padding: 2vw 1vw 1vw 1vw;
  display: flex;
  align-items: center;
  gap: .8vw;
  flex-direction: column;
}

.right .content {
  text-align: center;
}

.right .content h3 {
  margin-bottom: 1rem;
  font-size: 6vw;
  color: var(--active-color);
  line-height: 1;
  font-family: "Concert One", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-shadow: 4px 5px 4px #000000;
}

.right .content h3:hover {
  color: #00ff6ad2;
}

/*typing effect starts*/
.content .container {
  font-size: 1.5vw;
  font-family: "Oxanium", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  padding: .3vw;
  color: var(--green);
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  background-color: var(--lavender-grey);
  width: 30vw;
  border-radius: 10px;
  border-style: inset;
}

.container .typing {
  border-bottom: 1px dashed rgb(13, 72, 78);
  border-radius: 5px;
}

.content .typing::after {
  content: "";
  border-right: 3px solid #00ff00;
  position: relative;
  right: 0;
  animation: blink-caret 0.35s step-end infinite;
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #000000;
  }
}

/*-----------------------------------------------------------------*/

/*-----------------------------right search bar section starts------------------------------------*/
.right .searchbox {
  position: relative;
  padding: .5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
}

.right .searchbox input {
  border: 1px solid black;
  border-right: none;
  border-radius: 1.7vw 0 0vw 1.7vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding: .8vw;
  height: 6vh;
  width: 25vw;
}

.searchInput:focus {
  background-color: rgba(245, 245, 245, 0.767);
  border-color: var(--active-color);
}

.right .searchbox .icon {
  height: 6vh;
  width: 4vw;
  border-radius: 0 1.7vw 1.7vw 0;
  border: 1px solid black;
  background-color: var(--shade3);
  font-size: 2.2vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .8vw;
}

.right .searchbox .icon:hover {
  background-color: var(--active-color);
}

.right .searchbox .icon:active{
  background-color:rgba(12, 186, 12, 0.601);
}

@media screen and (max-width: 620px) {
  .searchBox:hover>.searchInput {
    padding: 0 6px;
  }
}

/*--===========================that homepage main searchbar section ends===============================-->*/

/*info form section starts*/

.info {
  padding: 1.7vw;
  border-radius: 3vw 0 3vw 0;
  box-shadow: 0 .5vw 4vw rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: visible;
  border: .1vw solid rgba(151, 148, 156, 0.611);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.184);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.info .title {
  font-weight: 500;
  font-size: 1.3vw;
  color: #2b2b2b;
  position: relative;
  text-align: center;
}

.info .two {
  padding-top: 1vw;
  margin-bottom: -1vw;
}


.enter button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vw;
  width: 9vw;
  padding: .4vw;
  font-size: 1.1vw;
  font-weight: 700;
  color: #ffffff;
  background: linear-gradient(45deg, #00f915, #0f7818);
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.6s ease;
  box-shadow: 0 1px 1.5px 1.5px rgba(0, 0, 0, 0.353);
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid rgb(38, 255, 0);
}

.enter button:hover {
  background: linear-gradient(45deg, #038d3c, #54e70a);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.enter button:active {
  color: #000000;
  background: var(--shade4);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  border: 1px solid var(--black);
}

.enter button i {
  font-size: 24px;
  margin-right: 10px;
  transition: margin-right 0.4s ease;
}

.enter button span {
  position: relative;
  z-index: 2;
  transition: margin-left 0.4s ease;
}

.enter button:hover i {
  margin-right: 20px;
}

.enter button:hover span {
  margin-left: -20px;
}

.enter button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 60%);
  transition: all 0.75s;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  z-index: 1;
}

.enter button:hover::before {
  transform: translate(-50%, -50%) scale(1);
}


/*--------------the sky floating placeholder section starts-------------- */
.form-group {
  position: relative;
  margin: 5px 0;
}

.form-group input {
  padding: 8px 10px;
  background-color: transparent;
  transition: 0.15s all ease;
}


/*----this afffects the input fields of the form to that green border and all--------*/
.form-group input[type="text"] {
  font-family: Arial, Helvetica, sans-serif;
  width: 25vw;
  padding: 10px;
  border: 2px solid #5eff00;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #000000;
}

.form-group input[type="text"]:focus {
  border-color: var(--border);
  box-shadow: -1px 1px 1px var(--bg-lavender);
}

.form-group input::placeholder {
  color: transparent;
}

.form-group .form-label {
  position: absolute;
  top: 19.7px;
  left: 0;
  font-size: 1vw;
  font-weight: 400;
  padding: 0 15px;
  color: #000000;
  pointer-events: none;
  transition: 0.15s all ease;
}

.form-group input:focus+.form-label,
.form-group input:not(:placeholder-shown)+.form-label {
  font-family: "Arimo", sans-serif;
  transform: translate(15px, -27px);
  z-index: 6;
  background: var(--text-100);
  border-radius: 5px;
  font-size: 1vw;
  color: var(--light-bg);
  position: absolute;
  padding: 5px;
}

/*the sky floating placeholder section ENDSs */
/*-------------------------suggestions styling section starts------------------*/
.info .suggestions {
  width: 100%;
  font-family: "Space Grotesk", sans-serif;
  position: absolute;
  z-index: 20;
  /* Ensures suggestions are in front */
  max-height: 16vw;
  overflow: scroll;
}

.info .suggestions div {
  padding: .5vw;
  font-size: 1vw;
  background-color: rgb(0, 0, 0, 0, 0.2);
  backdrop-filter: blur(40rem);
  border: 1px solid var(--lavender-grey);
  cursor: pointer;
}

.info .suggestions div:hover {
  background-color: rgba(129, 129, 129, 0.438);
}

/*info form section end*/

/*-----that feature showcasing mini boxes------*/
.count {
  width: 100%;
  position: relative;
  padding: 1vw 0;
}

.count .box-container {
  display: flex;
  flex-wrap: wrap;
  /* Allow blocks to wrap to new lines on smaller screens */
  justify-content: space-around;
}

.count .box-container .box {
  width: 19%;
  background-color: rgba(0, 0, 0, 0.64);
  border-radius: .5rem;
  padding: .5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5vw;
}


.count .box-container .box i {
  font-size: 2.4vw;
  color: var(--green);
}

.count .box-container .box i:hover {
  color: var(--shade4);
}

.count .box-container .box .content h3 {
  font-size: 1vw;
  color: var(--white);
}

.count .box-container .box .content p {
  font-size: 1vw;
  color: var(--light-white);
}



@media (max-width: 600px) {

  /*home section styling starts*/
  .main {
    width: 100%;
    padding-top: 0;
    height: calc(100% - 55px);
    bottom: 0;
    right: 0;
  }

  .home {
    height: unset;
    width: 100%;
    flex-direction: column-reverse;
  }


  .home .left {
    width: 100%;
    height: max-content;
  }

  .home .right {
    width: 100%;
    height: max-content;
    gap: 7vw;
    padding: 4vw 1vw 1vw 1vw;
  }



  .right .content {
    text-align: center;
  }

  .right .content h3 {
    font-size: 13vw;
    text-shadow: 3px 2px 1px #000000;
  }

  /*typing effect starts*/
  .content .container {
    font-size: 5.2vw;
    padding: 1vw;
    width: 75vw;
  }

  .container .typing {
    border-bottom: 1px dashed rgba(13, 72, 78, 0.756);
  }

  /*-----------------------------------------------------------------*/

  /*-----------------------------right search bar section starts------------------------------------*/

  .right .searchbox input {
    width: 76vw;
    border-radius: 20vw 0 0vw 20vw;
    padding: 5vw;
    border: 2px solid black;
    border-right: none;
    height: 6vh;
  }

  .right .searchbox .icon {
    border-radius: 0 20vw 20vw 0;
    padding: 5vw;
    font-size: 6vw;
    border: 2px solid black;
  }

  /*--===========================that homepage main searchbar section ends===============================-->*/

  /*info form section starts*/

  .info {
    margin-bottom: 15px;
    position: relative;
    width: 90%;
    background-color: var(--white);
    border-radius: 8vw 0 8vw 0;
    border: 1px inset var(--light-white);
    padding: 5vw;
  }

  .info .title {
    font-size: 5.1vw;
    color: #000000e8;
    font-weight: 500;
    letter-spacing: 1px;
  }



  /*--------------the sky floating placeholder section starts-------------- */
  .form-group {
    position: relative;
    margin: 12px 0;
  }

  .form-group input {
    padding: 8px 10px;
    background-color: transparent;
    transition: 0.15s all ease;
  }


  /*----this afffects the input fields of the form to that green border and all--------*/
  .form-group input[type="text"] {
    font-family: Arial, Helvetica, sans-serif;
    width: 80vw;
    z-index: 0;
    font-size: 4vw;
  }

  .form-group input[type="text"]:focus {
    border-color: var(--border);
    box-shadow: -1px 1px 1px var(--bg-lavender);
  }

  .form-group input::placeholder {
    color: transparent;
  }

  .form-group .form-label {
    font-size: 4vw;

  }

  .form-group input:focus+.form-label,
  .form-group input:not(:placeholder-shown)+.form-label {
    transform: translate(15px, -24.5px);
    font-size: 4vw;
  }

  /*the sky floating placeholder section ENDSs */
  /*-------------------------suggestions styling section starts------------------*/
  .info .suggestions {
    height: 55vw;
    overflow: scroll;
    z-index: 10;
    border-radius: 0 0 2vw 2vw;
  }

  .info .suggestions div {
    padding: .5vw;
    font-size: 5vw;
  }

  .info .suggestions div:hover {
    background-color: rgba(176, 168, 168, 0.681);
  }


  .enter button {
    width: 30vw;
    padding: .8vw;
    font-size: 5vw;
    z-index: 0;
  }

  /*info form section end*/

  /*----left section starts-------*/
  .homebgimage {
    position: relative;
  }

  .homebgimage img {
    padding-right: 2vw;
  }

  .homebgimage a {
    font-size: 2.7vw;
    padding: 2.8vw;
    padding-left: 1.9vw;
    z-index: 1;
    width: 15vw;
    transform: translate(6vw, 31vw);
    position: absolute;
    border-radius: 1.5vw;
  }

  /* -------that smal boxes srction starts-------*/
  .count {
    padding: 3vw 0;
  }

  .count .box-container {
    flex-direction: column;
    /* Stack boxes vertically */
    align-items: center;
  }

  .count .box-container .box {
    width: 80%;
    margin-bottom: 3vw;
    background: linear-gradient(145deg, rgba(10, 189, 10, 0.563), rgba(0, 255, 0, 0.327));
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
    transition: transform 0.3s ease;
    padding: 2vw;
  }

  .count .box-container .box:hover {
    transform: scale(1.05);
    border: 1px inset var(--shade4);
  }

  .count .box-container .box i {
    font-size: 6vw;
    color: var(--white);
  }

  .count .box-container .box i:hover {
    color: var(--shade4);
  }

  .count .box-container .box .content h3 {
    font-size: 3vw;
    color: var(--white);
    margin: 1vw 0;
  }

  .count .box-container .box .content p {
    font-size: 3.5vw;
    color: var(--black);
    opacity: 0.9;
  }
}


@media (max-width: 960px) {
  .homebgimage a {
    display: none;
  }
}