@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oxanium:wght@200..800&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  --green: #00E77F;
  --white: #fff;
  --light-white: #aaa;
  --black: #3d3d3d;
  --light-bg: #4b4b4b;
  --clr: #222327;
  --bg-lavender: #E6E6FA;
  --active-color: #29fd53;
  --shade3: #ACE1AF;
  --lavender-grey: #B6B5D8;
  --shade4: #17B169;
  --primary-300: #ffceff;
  --text-100: #FFFFFF;
  --otherbgcl: rgba(178, 233, 205, 0.315);
  --border: #00000029;
  --dark-black:black;

}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: .2s linear;
  text-transform: capitalize;
}

::-webkit-scrollbar {
  height: 1rem;
  width: .5rem;
}

::-webkit-scrollbar-track {
  background-color:transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: .5rem;
}

/*--===========================that homepage main searchbar section starts===============================-->*/
/*home section styling starts*/
.home {
    width: calc(100% - 5.5rem) ;
    height: calc(100% - 55px);
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center; /* This keeps content centered vertically inside the section */
  }
  
  
  .home .left{
    width: 50%;
    height: 100%;
    background-color: rgb(54, 212, 226);
    position:relative;
  }
  
  .homebgimage {
    width: 80%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 1rem;
}

.homebgimage a{
  position: absolute;
  background-color: var(--);
  border:2px solid var(--active-color);
  color: black;
  background-color: var(--shade4);
  border-radius: 9px 9px;
  -webkit-box-shadow: 2px 2px 14px -3px #070707;
  -moz-box-shadow: 2px 2px 14px -3px #111111;
  box-shadow: 1px 1px 9px -3px #151515;
  text-align: center;
  font-size: 1.4rem;
  padding: .92vw;
  padding-left: 10px;
  font-family: "Space Grotesk", serif;
  font-weight: bold;
  text-shadow: 1px 1px 1px var(--lavender-grey);
  z-index: 1;
  width: 5vw;
  transform: translate(2.42vw,10.59vw);
}

.homebgimage a:hover{
  background-color: var(--shade3);
  border: 1px dashed black;
  box-shadow: 0px 2px 3px black;
}

.homebgimage a:active{
  background-color: #17B169;
}

.homebgimage img {
    width: 100%;
    transition: transform 0.2s ease-out;
    filter: drop-shadow(3px 3px 1.5px black);
}

/*home right side section starts*/
.home .right{
  width: 50%;
  height: 100%;
  background-color:rgb(220, 188, 236);
  position: relative;
  padding-top: 2.5vw;
}

.right .content {
  flex: 1 1 40rem;
  text-align: center;
}

.right .content h3 {
  margin-bottom: 1rem;
  font-size: 8rem;
  color: var(--active-color);
  line-height: 1;
  font-family: "Concert One", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-shadow: 4px 5px 4px #000000;
}

/*typing effect starts*/
.content .container {
  font-size:1.5vw;
  font-family: "Oxanium", sans-serif;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  padding: .3vw;
  color:var(--green);
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
  background-color:var(--lavender-grey);
  width: 30vw;
  border-radius: 10px;
  border-style:inset;
}

.container .typing{
  border-bottom: 1px dashed rgb(13, 72, 78);
  border-radius: 5px;
}

.content .typing::after {
  content: "";
  border-right: 3px solid #00ff00;
  position: relative;
  right: 0;
  animation: blink-caret 0.35s step-end infinite;
}

@keyframes blink-caret {

  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: #000000;
  }
}
/*-----------------------------------------------------------------*/

/*-----------------------------right search bar section starts------------------------------------*/
.right .searchbox {
  display: flex;
  position: relative;
  padding: .5vw;
}

.right .searchbox input {
  position: absolute;
  border: 1px solid black;
  border-radius: 7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  height: 5rem;
  cursor: pointer;
  width: 50rem;
}

.searchInput:focus {
  border-color: var(--active-color);
}

.right .searchbox .icon {
  z-index: 1;
  height: 4.9rem;
  width: 7rem;
  background-color: var(--shade3);
  border-left: 1px solid var(--clr);
  border-radius: 50rem;
  font-size: 4rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


@media screen and (max-width: 620px) {
  .searchBox:hover>.searchInput {
    padding: 0 6px;
  }
}

/*--===========================that homepage main searchbar section ends===============================-->*/
