.calculuscontent {
    width: 100%;
    padding: 10px;
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Unit styling */
.unit {
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.unit-title {
    padding: 1.2vw;
    background: #007f24;
    color: #fff;
    cursor: pointer;
    border-radius: 8px 8px 0 0;
    transition: background-color 0.3s ease;
}

.unit-title:hover {
    background: #75a196;
    color: black;
}

.unit-title h2 {
    font-size: 1.4vw;
    margin: 0;
}

/* ----------- Topics styling ----------- */
.topics {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: none;
    background: #f9f9f9;
    border-radius: 0 0 8px 8px;
}

.topics.open {
    display: block;
}

.topics li {
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
}

.topics li a {
    text-decoration: none;
    color: #0077cc;
    transition: color 0.3s ease;
    cursor:pointer;
}

.topics li a:hover {
    color: #033457;
    text-decoration: underline 1px rgb(1, 73, 21);
}

.topics li a:active{
    color: #f00000;
}

.topics li:last-child {
    border-bottom: none;
}

/* Responsive design */
@media (max-width: 600px) {
    .unit-title h2 {
        font-size: 1rem;
    }

    .topics li a {
        font-size: 0.9rem;
    }
}