.signup-container {
    width: 100%;
    height: 100vh;
    background-color: rgb(233, 235, 233);
    box-sizing: border-box;
    display: flex;
    position: relative;
}

.signup-container .left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 1vw;
    gap: 1vw;
} 

.signup-container .right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-box {
    position: relative;
    background: #e0efde7b;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    padding: 1.5vw 5vw;
}

.form-box .close {
    margin-right: -4vw;
    text-align: right;
}

.form-box .loginbutton{
    display: flex;
    align-items: center;
    justify-content:center;
    font-size: .9vw;
    font-weight:bold;
    gap: .7vw;
    padding: 1px;
    margin: 1.2vw;
    text-transform: lowercase;
    box-sizing: border-box;
}

.form-box .loginbutton::first-letter{
    text-transform: uppercase;
}
.form-box .loginbutton button{
    box-sizing: border-box;
    padding: 0 .5vw;
    background: transparent;
    color:rgb(3, 77, 3);
    border-radius: 1vw;
    border: 1px solid green;
}

.form-box .loginbutton button:hover{
    border: 1px inset rgb(0, 221, 0);
    color: rgb(22, 22, 22);
    background-color: #66666629;
}


.form-box .loginbutton button:active{
    background-color:#66666651 ;
}

.close i {
    font-size: 1.8vw;
    font-weight: 500;
    padding: .2vw;
    color: #626060;
}

.close i:hover{
    border: 1px solid rgb(10, 169, 10);
    color: black;
}

.close i:active{
    color: #028e53;
}

.signup-title {
    text-align: center;
    font-size: 1.6vw;
    font-weight: 600;
    margin-bottom: 20px;
}

.signup-form{
    display: flex;
    flex-direction: column;
    gap:.5vw;
}

.input-container,
.password-container {
    position: relative;
}

.signup-input {
    width: 100%;
    padding: 10px 30px 10px 10px;
    border: 2px solid #3b3b3b29;
    border-radius: 10px;
    font-size: 1vw;
    transition: border-color 0.3s ease;
    color: red ;
    text-transform: none;
}


.login-input:focus {
    border-color: #00ff6e;
    outline: none;
}

.login-input:focus+.input-icon {
    color: #04e76e;
}

/*-----------Styling for hiding and showing the password icon functionallity---------*/
.password-container {
    position: relative;
    margin: 10px 0;
  }
  
  .eye-icon {
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
    color: gray;
  }
  
  .eye-icon:hover {
    color: black;
  }

  /*-------signup successfull popup styling------*/
  .signup-popup {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4ad74f; /* Green success color */
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    z-index: 1000;
    animation: fadeInOut 2s ease-in-out;
}

@keyframes fadeInOut {
    0% { opacity: 0; transform: translate(-50%, -20px); }
    20% { opacity: 1; transform: translate(-50%, 0); }
    80% { opacity: 1; transform: translate(-50%, 0); }
    100% { opacity: 0; transform: translate(-50%, -20px); }
}


.forgot-button {
    background: none;
    border: none;
    color: #0066cc;
    font-size: .9vw;
    cursor: pointer;
    text-align: right;
    padding: 0 10px;
}

.signup-button {
    padding: 1vw;
    background-color: #10c479;
    border: 1px solid rgba(63, 63, 63, 0.611);
    border-radius: 2vw;
    color: white;
    font-size: 1.2vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 4px rgb(49, 48, 48);
}

.login-button:hover {
    background-color: #028e53;
    box-shadow: 0px 2px 4px rgb(49, 48, 48);
}

.login-button:active {
    box-shadow: 0px 0px 0px rgb(49, 48, 48);
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: #aaa;
    margin: 20px 0;
}

.separator::before,
.separator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #aaa;
    margin: 0 10px;
}

.separator span {
    font-size: 1vw;
    font-weight: 500;
    color: #aaa;
}

.social-login {
    display: flex;
    justify-content: space-evenly;
}

.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding: 10px 20px;
    border-radius: 5vw;
    font-size: .9vw;
    font-weight: 500;
    cursor: pointer;
    border: 2px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.social-button img {
    width: 2vw;
}

.facebook-button {

    color: rgba(65, 63, 63, 0.848);
}

.facebook-button img {
    scale: 1.3;
}

.google-button {
    color: rgba(65, 63, 63, 0.848);
}

.social-button:hover {
    opacity: 0.9;
}

.facebook-button:hover {
    border: 1px solid rgb(62, 157, 230);
}

.google-button:hover {
    border: 1px solid orange;
}

.terms-text {
    font-size: .8vw;
    text-align: center;
    color: #666;
    padding: 2vw 0;
}

.terms-text a {
    color: #0066cc;
    text-decoration: none;
}


/*-----------signuppage responsiveness starts here -----------*/
 @media only screen and (max-width: 600px){
    .signup-container {
        width: 100%;
        height: 100%;
        background-color: rgb(233, 235, 233);
        box-sizing: border-box;
        position: relative;


        flex-direction: column-reverse;
    }
    
    .signup-container .left {
        width: 100%;


        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 7vw;
        gap: 1vw;
    } 
    
    .signup-container .right {
        width: 100%;


        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .form-box {
        position: relative;
        background: #e0efde7b;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


        width: 99%;
        padding: 5vw 5vw;
    }
    
    .form-box .close {
        margin-right: 3vw;



        text-align: right;
    }
    
    .close i {
        font-size:6vw;


        font-weight: 500;
        padding: .2vw;
        color: #626060;
    }
    
    .close i:hover{
        border: 1px solid rgb(10, 169, 10);
        color: black;
    }
    
    .close i:active{
        color: #028e53;
    }

    .form-box .loginbutton{
        display: flex;
        align-items: center;
        justify-content:center;
        box-sizing: border-box;

        
        font-size:4vw;
        color: #4e4e4e;
        font-weight:bold;
        gap: 2vw;
        padding: 3px;
        margin: 1.3vw;
    }

    .form-box .loginbutton button{
        padding: .7vw 3vw;



        box-sizing: border-box;
        background: transparent;
        color:rgb(3, 77, 3);
        border-radius: 1vw;
        border: 1px solid green;
    }
    
    .form-box .loginbutton button:hover{
        border: 1px inset rgb(0, 221, 0);
        color: rgb(22, 22, 22);
        background-color: #66666629;
    }
    
    
    .form-box .loginbutton button:active{
        background-color:#66666651 ;
    }
    
 
    
    .signup-title {
        text-align: center;
        font-weight: 600;
        margin-bottom: 5px;

        font-size: 7vw;
    }
    
    .signup-form{
        display: flex;
        flex-direction: column;


        gap:1vw;
    }
    
    .input-container,
    .password-container {
        position: relative;
    }
    
    .signup-input {
        width: 100%;
        padding: 10px 30px 10px 10px;
        border: 2px solid #3b3b3b29;
        border-radius: 10px;

    
        font-size: 4vw;
        transition: border-color 0.3s ease;
    }  
    
    
    .login-input:focus {
        border-color: #00ff6e;
        outline: none;
    }
    
    .login-input:focus+.input-icon {
        color: #04e76e;
    }
    
    .forgot-button {
        background: none;
        border: none;
        color: #0066cc;
        font-size: .9vw;
        cursor: pointer;
        text-align: right;
        padding: 0 10px;
    }
    
    .signup-button {
        padding: 2.5vw;
        font-size:5vw;

        background-color: #10c479;
        border: 1px solid rgba(63, 63, 63, 0.611);
        border-radius: 2vw;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
        box-shadow: 0px 2px 4px rgb(49, 48, 48);
    }
    
    .login-button:hover {
        background-color: #028e53;
        box-shadow: 0px 2px 4px rgb(49, 48, 48);
    }
    
    .login-button:active {
        box-shadow: 0px 0px 0px rgb(49, 48, 48);
    }
    
    .separator {
        display: flex;
        align-items: center;
        text-align: center;
        color: #aaa;
        margin: 20px 0;
    }
    
    .separator::before,
    .separator::after {
        content: "";
        flex: 1;
        border-bottom: 1px solid #aaa;
        margin: 0 10px;
    }
    
    .separator span {
        font-size: 3vw;


        font-weight: 500;
        color: #aaa;
    }
    
    .social-login {
        display: flex;
        justify-content: space-evenly;
    }
    
    .social-button {
        gap: 2vw;
        padding: 10px 20px;
        border-radius: 5vw;
        font-size: 4vw;
        font-weight: 500;




        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: 2px solid transparent;
        transition: background-color 0.3s ease, border-color 0.3s ease;
    }
    
    .social-button img {
        width: 6vw;


    }
    
    .facebook-button {
    
        color: rgba(65, 63, 63, 0.848);
    }
    
    .facebook-button img {
        scale: 1.4;


    }
    
    .google-button {
        color: rgba(65, 63, 63, 0.848);
    }
    
    .social-button:hover {
        opacity: 0.9;
    }
    
    .facebook-button:hover {
        border: 1px solid rgb(62, 157, 230);
    }
    
    .google-button:hover {
        border: 1px solid orange;
    }
    
    .terms-text {
        font-size: 2.5vw;
        color: #666666bf;
        padding: 4vw 0;



    }
    
    .terms-text a {
        color: #0066cc;
        text-decoration: none;
    }
    
} 