@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oxanium:wght@200..800&family=Parkinsans:wght@300..800&family=Playwrite+TZ+Guides&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oxanium:wght@200..800&family=Parkinsans:wght@300..800&family=Playwrite+TZ+Guides&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Space+Grotesk:wght@300..700&family=Teko:wght@300..700&display=swap');


.profilebody {
    /* padding: 10px; */
    background-color: #fcf9f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 100vh;
    overflow: hidden; */
  }
  
  .profilebanner {
    position: relative;
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: end;
  }

  .profilebanner .msg{
    align-self: flex-end;
    padding: 1px;
  }
  
  .banner-edit-btn {
    position: absolute;
    margin: 10px;
    background-color:transparent;
  }

  .banner-edit-btn i{
    font-size: 1.5vw;
    color:#a4a2a2;
    background: none;
  }
  
  .banner-edit-btn i:hover{
    padding: 5px;
    border-radius: 50%;
    background-color:black;
  }

  .editbox{
    display: flex;
    align-items: center;
    gap:.5vw;
    position: absolute;
  }

  .editbox input,.pic-editbox input{
    border: 1px solid rgb(204, 204, 204);
    border-radius:.1vw;
    padding: 1.5px;
    margin: 2px;
    width: 14vw;
  }

  .editbox button{
    background:#eaeaea;
    color: #555;
    border:1px solid #ddd;
    padding:0 1vw;
    border-radius:.4vw;
    margin: 2px;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  }

  .profilebanner img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profilesect {
    position: absolute;
    width: 85%;
    margin-top: 20vh;
    /* overflow-y: scroll;  */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
    -ms-overflow-style: none; /* Hide scrollbar for IE/Edge */
  }
  
  .profilesect::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Edge */
  }
  
  .prof-dis {
    padding: 10px;
    height: 42vh;
    background-color:rgb(247, 247, 247);
    box-shadow: 0px 1px 10px rgb(192, 192, 192);
    display: flex;
    align-items: end;
    justify-content: space-around;
    margin-top:7vw;
    border-radius: 15px 15px 0 0;
  }
  
  .profilesect .box {
    width: 30%;
    height: 40vh;
  }
  
  .profilesect .mid {
    height: 53vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .mid .prof-photo {
    position: relative;
    border: 2px solid transparent; 
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease; 
    margin-bottom: 5px;
  }

  .mid .prof-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .mid .prof-photo:hover > i {
    transform: scale(1.05); 
  }
  
  .mid .prof-photo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid transparent;
    box-sizing: border-box;
    transform: rotate(0deg);
    transform-origin: center;
    background: none;
    animation: none;
  }
  
  .mid .prof-photo:hover::before {
    border-color: rgba(180, 197, 181, 0.7); 
    animation: drawBorder 1.5s ease forwards; 
  }
  
  /* Keyframes for the drawing effect */
  @keyframes drawBorder {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.mid .pic-save{
    background:#eaeaea;
    color: #555;
    border:1px solid #ddd;
    padding:0 1vw;
    border-radius:.4vw;
    margin: 2px;
    font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  }

  /*---button for updating profile photo---*/
  .mid .pic-edit{
    transform: translate(5.5vw,-4vw);
    background-color:transparent;
  }

  .mid .pic-edit i{
    font-size: 1.5vw;
    color: #a4a2a2;
  }

  .mid .pic-edit i:hover{
    padding: 5px;
    border-radius: 50%;
    background-color:black;
    margin-top: -5px;
  }

  .mid .username{
    font-family: "Lato", serif;
    font-weight: 500;
    font-size: 1.5vw;
    font-style: normal;
    margin-bottom: 8px;
  }

  .mid .bio{
    font-family: "Lato", serif;
    font-weight: 400;
    font-size: 1.1vw;
  }


  .profile-info, .info-editbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse; /* For edit button */
    justify-content: space-between;
    gap: 20px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 0 0 15px 15px;
    background-color: rgb(247, 247, 247);
  }
  
  .profile-info > div {
    flex: 1 1 calc(50% - 20vw);
    display: flex;
    flex-direction: column;
  }
  
  @media screen and (max-width: 768px) {
    .profile-info, .info-editbox {
      flex-direction: column; /* Stack one below the other */
      gap: 15px; /* Adjust gap between stacked boxes */
    }
  
    .profile-info > div {
      flex: 1 1 100%; /* Take full width */
    }
  }
  
  
  .profile-info label {
    font-size: 13px;
    font-weight: 600;
    padding-left: 5px;
    color: #555;
  }
  
  .profile-info div div {
    display: flex;
    align-items: center;
    padding: 8px;
    height: 40px;
    /* border: 1px solid #eae8e8; */
    border-radius: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    /* background-color: #fff; */
    transition: all 0.3s ease;
  }
  
  .profile-info div div:hover {
    background-color: #daded7;
    transform: scale(1.005);
  }

  .info-editbox div{
    flex: 1 1 calc(50% - 20vw);
    display: flex;
    flex-direction: column;
  }

.info-editbox input{
  border-radius: .4vw;
  padding: .8vw;
  box-shadow: 0px 1px 0px rgb(204, 203, 203);
}

.info-editbox label{
  font-size: 1vw;
  color: #555;
  font-weight: 600;
  padding-left: .2vw;
  font-family: "Lato", serif;
  font-style: normal;
}

  
.info-editbox button,.profile-info button{
  position: absolute;
  margin-top:-1vw;
  padding: .1vw .7vw;
  border-radius: .2vw;
  color: #434343;
  background-color:transparent;
}

.info-editbox button:hover,.profile-info button:hover{
  background-color:#f0f0f0;
  }

  .profile-info button i{
    font-size: 1.2vw;
    color: #a4a2a2;
  }

  .profile-info button i:hover{
    background-color: black;
    padding: 5px;
    border-radius: 50%;
  }

  .prof-dis .left,.prof-dis .right{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
  }

  .prof-dis .left .mail{
    font-size:1.01vw;
    color: blue;
    text-decoration: underline;
    margin-bottom: 10px;
  }

  .prof-dis .left .connect,.prof-dis .right .msg-btn{
    font-size:1.01vw;
    color: #333;
    padding: .5vw 1.5vw;
    border: 1px solid #e6dada;
    box-shadow: 1px 1px 1px #ccc;
    width: 10vw;
    text-align: center;
    border-radius: .6vw;
  }

  .prof-dis .right .follow-btn{
  background-color: #c2fbd7;
  border-radius:5vw;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 35px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.prof-dis .right .follow-btn:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

