.App {
    /* background-color: aqua; */
    width: calc(100% - 5.5rem);
    margin-left: auto;
    /* Push the element to the right */
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 600px) {
 .App{
    width: 100%;
    margin-left: 0;
 }
};