/*======================================SIDE NAVBAR SECTION STARTS=============================*/
.sidenavbar {
    top: 0;
    position: fixed;
    height: 100vh;
    width: 5.5rem;
    background-color: var(--white); 
    -webkit-box-shadow: 3px 3px 15.5px -3.5px #d8d6d6;
    -moz-box-shadow: 3px 3px 15.5px -3.5px #d8d6d6;
    box-shadow: 3px 3px 15.5px -3.5px #d8d6d6;
    left: 0;
  }
  
  .sidenavbar .container{
    display: inline-table;
    margin-top: 45px;
    height: 100%;
  }
  
  
  .sidenavbar .container .option {
    border-left: 2.5px solid var(--green);
    border-radius: 3px 0 3px 0;
    margin: 5rem 0 2rem 0;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .sidenavbar .container .option p {
    font-weight: 500;
    font-size: 1.4rem;
    cursor: pointer;
    padding: 1px;
  }
  
  .sidenavbar .container .option .icon i {
    color: var(--active-color);
    font-size: 3rem;
    cursor: pointer;
  }

  .sidenavbar .container .option:hover{
    text-shadow: 1px 1px 1px rgb(15, 15, 15);
    color: var(--active-color);
  }




  @media (max-width: 600px) {
    .sidenavbar{
      display: none;
    }
  }
  /* .sidenavbar {
    bottom: 0; /* Move to bottom 
    top: auto; /* Disable top
    height: 50px; /* Adjust height 
    width: 100vw; /* Full width 
    display: flex; /* Override layout 
    justify-content: center;
    background-color: var(--shade3);
    -webkit-box-shadow: 0 -3px 15.5px -3.5px #d8d6d6;
    -moz-box-shadow: 0 -3px 15.5px -3.5px #d8d6d6;
    box-shadow: 0 -3px 15.5px -3.5px #c5c5c5;
    z-index: 1000;
  }

  .sidenavbar .container {
    display: flex; /* Switch to flex layout 
    justify-content: space-around;
    align-items: center;
    margin-top: 0; /* Remove top margin 
    height: 100%;
    width: 100vw;
  }

  .sidenavbar .container .option {
    border-left: none; /* Remove border for compact layout 
    border-radius: 0; /* Remove border radius 
  }

  .sidenavbar .container .option p {
    font-size: 1.9rem; /* Adjust font size 
    padding: 0 1.5rem;
    font-weight: 600;
    display: block;
    margin-bottom: 10.2vh;
    margin-top: 2vh;
  }

  .sidenavbar .container .option .icon i {
    font-size: 4rem; /* Adjust icon size 
    background-color:var(--white);
    -webkit-box-shadow: 0 -3px 12px -3px #d8d6d6;
    -moz-box-shadow: 0 -3px 12px -3px #d8d6d6;
    box-shadow: 0 -3px 12px -3px #323232;
    border-radius: 3rem;
    padding: 1rem;
    margin-bottom: -1.8vh;
  }

  .sidenavbar .container .option:hover .icon i {
    background-color:#b1dab3;
    border-top: inset 2px var(--clr);
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
} 
  /*======================================SIDE NAVBAR SECTION endS=============================*/
  
  
  
  
  