@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');

:root {
  --green: #00E77F;
  --white: #fff;
  --light-white: #aaa;
  --black: #3d3d3d;
  --light-bg: #4b4b4b;
  --clr: #222327;
  --bg-lavender: #E6E6FA;
  --active-color: #29fd53;
  --shade3: #ACE1AF;
  --lavender-grey: #B6B5D8;
  --shade4: #17B169;
  --primary-300: #ffceff;
  --text-100: #FFFFFF;
  --otherbgcl: rgba(178, 233, 205, 0.315);
  --border: #00000029;
  --dark-black:black;

}

* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: .2s linear;
  text-transform: capitalize;
}

::-webkit-scrollbar {
  height: 1rem;
  width: .5rem;
}

::-webkit-scrollbar-track {
  background-color:transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--green);
  border-radius: .5rem;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--text-100);
  width: 100%;
  height: 100%;
  position: relative;
  overflow-y: scroll;
  padding-top: 45px; 
  padding-left: 5.5rem;/* Always show vertical scrollbar */
}

/*---header section starts---*/
.header {
  height: 55px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2; /*it may change in future always b careful*/
}

.header .nav {
  max-height: 55px;
  max-width: 100%;
  background-color: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vw 3vw;
  -webkit-box-shadow: 3px 3px 15.5px -3.5px #d8d6d6;
  -moz-box-shadow: 3px 3px 15.5px -3.5px #d8d6d6;
  box-shadow: 3px 3px 15.5px -3.5px #d8d6d6;
}

.header .nav .logo {
  font-size: 2.5vw;
  font-weight: bold;
  color: var(--active-color);
  filter: drop-shadow(1px 8px 1px var(--clr));
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.header .navbar {
  display: flex;
  gap: 1.5vw;
  align-items: center;
}

.header .navbar p {
  font-size: 1.5vw;
  font-weight: 500;
  align-items: center;
  text-decoration: none;
  display: none;
}

.header .navbar p i {
  font-size: 1.5vw;
  padding-top: .3vw;
}

.header .nav .navbar i {
  color: var(--green);
  scale: 1.2;
  margin: 0 0.2vw;
}

.header .nav .navbar a {
  font-size: 1.2vw;
  font-weight: 400;
  text-decoration: none;
  color: var(--clr);
}

.header .nav .navbar a:hover {
  color: var(--active-color);
  text-shadow: 1px 1px 1px var(--clr);
}


.search-container {
  position: relative;
  display: flex;
  width: 30rem;
  height: 5vh;
  align-items: center;
  justify-content: space-between;
  border-radius: 9px;
  border: 1px solid black;
  padding-left: .5vw;
}

.search-box {
  background: var(--text-100);
  width: 100%;
  height: 100%;
  font-size: 18px;
  cursor: pointer;
}

.search-container i {
  font-size: 3rem;
  display: flex;
  align-items: center;
  background-color: #00E77F;
  border-radius: 5px;
  border: .1vw solid var(--black);
  height: 100%;
  padding: .2vw;
  cursor: pointer;
}

.search-container:focus-within {
  border: 2px solid green;
  /* You can change the border color */
}

.signinbtn {
  width: 13.5rem;
  height: 3.7rem;
  background-color: #c8e6c9;
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-radius: 12px;
}

.signinbtn button {
  font-size: 18px;
  border-radius: 12px;
  cursor: pointer;
}

.signinbtn .signup {
  height: 100%;
  width: 7rem;
  background-color: #12d279;
  color: var(--white);
}

.signinbtn .signup:hover {
  background-color: var(--shade4);
}

.signinbtn .login {
  height: 100%;
  margin-right: 1vw;
  background: none;
  color: black;
}

.signinbtn:hover {
  background-color: #74cda3;
}

.theme-toggle {
  font-size: 1.2vw;
  padding: 5px 5px;
  margin: 20px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: 0.3s;
}

.theme-toggle:hover {
  opacity: 1;
}

.theme-toggle:focus{
  border: 1px solid var(--green);
}

/*---header section ends---*/

@media (max-width: 600px){
    /*---header section starts---*/
  body{
    padding-left: 0;
  }
  .header .nav .logo {
    font-size: 7vw;
    filter: drop-shadow(1px 4px 1px var(--clr));
  }

  .header .navbar {
    gap: 3.5vw;
  }

  .navbar a {
    display: none;
  }

  .header .navbar p {
    display: block;
  }

  .signinbtn {
    width: 7rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
  }

  .signinbtn .signup {
    display: none;
  }

  .signinbtn button {
    width: 7rem;
    font-size: 18px;
    border-radius: 13px;
    padding-left: 1vw;
    cursor: pointer;
    font-weight: 600;
  }

  .search-container {
    width: 1rem;
    border: none;
    margin-right: 5vw;
  }

  .search-box {
    display: none;
  }

  .search-container i {
    background: none;
    border: none;
  }

  .header .navbar p {
    font-size: 4.5vw;
    display: flex;
  }

  .header .navbar p i {
    font-size: 7vw;
    padding-top: .8vw;
  }

  /*---header section ends---*/

  
  /*--menulist section starts--*/

  .menulist ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .menulist li {
    padding: 1rem;
    border-bottom: 1px solid var(--light-white);
  }

  .menulist li a {
    text-decoration: none;
    color: #000;
    font-size: 2.2rem;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* Centers vertically */
    padding: 2vw;
  }

  .menulist li a i {
    font-size: 2.5rem;
    padding-right: 1.5rem;
    color: var(--green);
    display: block;
  }

  .menulist li:hover {
    background-color: var(--shade3);
    transition: color 0.3s, text-shadow 0.3s;
  }

  .menulist li:hover a i {
    color: var(--active-color);
    text-shadow: 1px 1px 1px var(--clr);
  }
/*--menulist section ends--*/
}

/* Tablets */
@media only screen and (max-width: 768px) {}

/* Laptops and Small Desktops */
@media only screen and (max-width: 1200px) {}

/*---header section starts---*/

/*--menulist section starts--*/
.menulist {
  width: 100%;
  height: calc(100% - 45px);
  position:fixed;
  background-color: whitesmoke;
  display: none;
}
/*--menulist section ends--*/
